body {
    font-family: Arial, sans-serif;
    background-color: #ec3a3a;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #e0d9d9;
}

#botonesMarcas button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #55afe7;
    color: rgb(25, 8, 85);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#botonesMarcas button:hover {
    background-color: #dbf080;
}

#modelos {
    margin-top: 30px;
}

/*Estilo para las tarjetas creadas para cada modelo de marca*/
.modeloCard {  
    background-color: rgb(240, 139, 164);
    border: 1px solid #76c1f3;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    width: 250px; /*establece un tamaño fijo para cada tarjeta*/
    display: inline-block; /*ordena las tarjetas en linea horizontal*/
}

/*se crean los estilos para los botones de los filtros de busqueda*/
#filtrosBotones {
    margin-top: 30px;
}

#filtrosBotones button {
    margin: 5px;
    padding: 8px 15px;
    background-color: #d4c235;
    color: #333;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#filtrosBotones button:hover {
    background-color: #ffcf40;
}